 <picture>
 <source media="(prefers-color-scheme: dark)" srcset="_images/astroquery_project_logo_dark.svg">
 <source media="(prefers-color-scheme: light)" srcset="_images/astroquery_project_logo.svg">
 <img  class= "dark-light" alt="" style="float:right;height:50px;padding-right:20px;">
</picture>


# Astroquery Examples

Astroquery ( [https://astroquery.readthedocs.io](https://astroquery.readthedocs.io) )
is a set of tools for querying astronomical web forms and databases. It is a coordinated package
of the Astropy project ( [http://www.astropy.org](http://www.astropy.org/) ).

General imports:

In [1]:
from astropy import coordinates
import astropy.units as u

from astroquery.simbad import Simbad
from astroquery.vizier import Vizier

## SIMBAD queries

SIMBAD allows for simple queries based on coordinates or object names.

### Query by target ID

Use `query_object()` to query for a single object ID.

In [23]:
result_table = Simbad.query_object("M57")
result_table['MAIN_ID', 'RA', 'DEC'].show_in_notebook()

You can get a list of object IDs with `quey_objectids()`.

In [25]:
IDs = Simbad.query_objectids("Ring Nebula")
IDs.show_in_notebook(display_length=10)

You can query a list of objects with `query_objects()`. This is more efficient than repeated requests for single objects. There are rate limits that may vary, but you should not submit more than ~5-10 queries per second. A list is treated as a single request and will not result in overtaxing the server.

In [3]:
result_table = Simbad.query_objects(["M1", "M2", "M3", "M4"])
result_table['MAIN_ID', 'RA', 'DEC'].show_in_notebook()

Wildcards and ranges can be used for identifiers.

`*` : Any string of characters (including an empty one)

`?` : Any character (exactly one character)

`[abc]` : Exactly one character taken from the list.

`[A-Z]` : Can also be defined by a range of characters.

`[^0-9]` : Any (one) character not in the list.

In [4]:
result_table = Simbad.query_object("m [1-9]", wildcard=True)
result_table['MAIN_ID', 'RA', 'DEC'].show_in_notebook()

Generating a list of targets programmatically may be easier and more reliable than wildcard searches.

In [5]:
targets = [f'M{_}'for _ in range(1,11)]; targets

['M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9', 'M10']

In [6]:
result_table = Simbad.query_objects(targets)
result_table['MAIN_ID', 'RA', 'DEC'].show_in_notebook()

### Query by region

In [7]:
coord = coordinates.SkyCoord("18h53m35s +33d01m45s", frame='icrs')
radius = 5 * u.arcminute

result_table = Simbad.query_region(coord, radius=radius)
result_table['MAIN_ID', 'RA', 'DEC'].show_in_notebook()

### Query by catalog

### Query by criteria

### Query a bibcode

## VizieR Queries