 <picture>
 <source media="(prefers-color-scheme: dark)" srcset="_images/astroquery_project_logo_dark.svg">
 <source media="(prefers-color-scheme: light)" srcset="_images/astroquery_project_logo.svg">
 <img  class= "dark-light" alt="" style="float:right;height:50px;padding-right:20px;">
</picture>


# Astroquery Examples

Astroquery ( [https://astroquery.readthedocs.io](https://astroquery.readthedocs.io) )
is a set of tools for querying astronomical web forms and databases. It is a coordinated package
of the Astropy project ( [http://www.astropy.org](http://www.astropy.org/) ).

General imports:

In [4]:
from astropy import coordinates
import astropy.units as u

from astroquery.simbad import Simbad
from astroquery.vizier import Vizier

## SIMBAD queries

SIMBAD allows for simple queries based on coordinates or object names.

### Query by target ID

Use `query_object()` to query for a single object ID.

In [23]:
result_table = Simbad.query_object("M57")
result_table['MAIN_ID', 'RA', 'DEC'].show_in_notebook()

You can get a list of object IDs with `quey_objectids()`.

In [25]:
IDs = Simbad.query_objectids("Ring Nebula")
IDs.show_in_notebook(display_length=10)

You can query a list of objects with `query_objects()`. This is more efficient than repeated requests for single objects. There are rate limits that may vary, but you should not submit more than ~5-10 queries per second. A list is treated as a single request and will not result in overtaxing the server.

In [3]:
result_table = Simbad.query_objects(["M1", "M2", "M3", "M4"])
result_table['MAIN_ID', 'RA', 'DEC'].show_in_notebook()

Wildcards and ranges can be used for identifiers.

`*` : Any string of characters (including an empty one)

`?` : Any character (exactly one character)

`[abc]` : Exactly one character taken from the list.

`[A-Z]` : Can also be defined by a range of characters.

`[^0-9]` : Any (one) character not in the list.

In [4]:
result_table = Simbad.query_object("m [1-9]", wildcard=True)
result_table['MAIN_ID', 'RA', 'DEC'].show_in_notebook()

Generating a list of targets programmatically may be easier and more reliable than wildcard searches.

In [5]:
targets = [f'M{_}'for _ in range(1,11)]; targets

['M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9', 'M10']

In [6]:
result_table = Simbad.query_objects(targets)
result_table['MAIN_ID', 'RA', 'DEC'].show_in_notebook()

### Query by region

You can query all objects in a region with `query_region()`. 
Use a coordinate or object ID and a radius. When no radius is specified, the radius defaults to 20 arcmin.
Coordinates should be an Astropy `SkyCoord()` object and the radius a Astropy `Quantity()`.

In [7]:
coord = coordinates.SkyCoord("18h53m35s +33d01m45s", frame='icrs')
radius = 5 * u.arcminute

result_table = Simbad.query_region(coord, radius=radius)
result_table['MAIN_ID', 'RA', 'DEC'].show_in_notebook()

### Query by catalog

You can query all objects in a catalog with `query_catalog`. 
This can return a very large table so you should set a row limit on your query.
When querying large catalogs query by criteria is better.

In [6]:
Simbad_ = Simbad()  # define a new instance of the class
Simbad_.ROW_LIMIT = 12  # Set a row limit on that instance.
result_table = Simbad_.query_catalog('ngc')
result_table['MAIN_ID', 'RA', 'DEC'].show_in_notebook()

### Query by criteria

You can execute very specific queries using the `query_criteria()` method. These queries are formed in much the same way as they are on the web interface.
Descriptions of [queryable fields](https://simbad.cds.unistra.fr/simbad/sim-fsam) and [object types](https://simbad.cds.unistra.fr/guide/otypes.htx)
are on the SIMBAD website.

Below is an example query for variable stars near the Trapezium.

In [17]:
result_table = Simbad_.query_criteria('region(CIRCLE, Trapezium, 6m)', otype='V*')  # Using row limited instance.
result_table['MAIN_ID', 'RA', 'DEC'].show_in_notebook()

### Query a bibcode

You can retrieve the references for a bibcode with `query_bibcode()`.

 example: [Ritchey, G.W.](https://ui.adsabs.harvard.edu/abs/1910ApJ....32...26R/abstract)

In [33]:
bibliography = Simbad.query_bibcode('1910ApJ....32...26R')
print(bibliography['References'][0])

1910ApJ....32...26R = DOI 10.1086/141784
Astrophys. J., 32, 26-35 (1910)
RITCHEY G.W.
On some methods and results in direct photography with the 60-inch reflecting telescope of the Mount Wilson Solar Observatory.

And get the objects referenced in the publication with `query_bibobj()`.

In [34]:
result_table = Simbad.query_bibobj('1910ApJ....32...26R')
result_table['MAIN_ID', 'RA', 'DEC'].show_in_notebook()

## VizieR Queries