 <img style="float:right; height:60px; padding-right:20px" src="_images/astroquery_project_logo.svg">

# Astroquery Examples

Astroquery ( [https://astroquery.readthedocs.io](https://astroquery.readthedocs.io) )
is a set of tools for querying astronomical web forms and databases.

It is a coordinated package
of Astropy project ( [http://www.astropy.org](http://www.astropy.org/) ).

General imports:

In [1]:
from astropy import coordinates
import astropy.units as u

from astroquery.simbad import Simbad
from astroquery.vizier import Vizier

SIMBAD allows for simple queries based on coordinates or object names.

In [9]:
result_table = Simbad.query_object("M57")
result_table

<Table length=1>
MAIN_ID       RA           DEC      ...     COO_BIBCODE     SCRIPT_NUMBER_ID
           "h:m:s"       "d:m:s"    ...
 object     str13         str13     ...        object            int32
------- ------------- ------------- ... ------------------- ----------------
  M  57 18 53 35.0967 +33 01 44.883 ... 2020yCat.1350....0G                1

Wildcards and ranges can be used for identifiers

In [11]:
result_table = Simbad.query_object("m [1-9]", wildcard=True)
result_table

<Table length=9>
 MAIN_ID       RA         DEC     ...     COO_BIBCODE     SCRIPT_NUMBER_ID
            "h:m:s"     "d:m:s"   ...
  object     str13       str13    ...        object            int32
--------- ----------- ----------- ... ------------------- ----------------
    M   1  05 34 30.9   +22 00 53 ... 1995AuJPh..48..143S                1
    M   2 21 33 27.02 -00 49 23.7 ... 2010AJ....140.1830G                1
    M   3 13 42 11.62 +28 22 38.2 ... 2010AJ....140.1830G                1
    M   4 16 23 35.22 -26 31 32.7 ... 2010AJ....140.1830G                1
    M   5 15 18 33.22 +02 04 51.7 ... 2010AJ....140.1830G                1
NGC  6405  17 40 16.6   -32 14 31 ... 2021A&A...647A..19T                1
NGC  6475  17 53 47.3   -34 50 28 ... 2021A&A...647A..19T                1
    M   8    18 03 37    -24 23.2 ...                                    1
    M   9 17 19 11.78 -18 30 58.5 ... 2002MNRAS.332..441F                1

In [10]:
coord = coordinates.SkyCoord("18h53m35s +33d01m45s", frame='icrs')
radius = 5 * u.arcminute

result_table = Simbad.query_region(coord, radius=radius)
result_table

<Table length=8>
       MAIN_ID              RA      ...     COO_BIBCODE     SCRIPT_NUMBER_ID
                         "h:m:s"    ...
        object            str13     ...        object            int32
--------------------- ------------- ... ------------------- ----------------
                M  57 18 53 35.0967 ... 2020yCat.1350....0G                1
     UCAC3 247-143405 18 53 34.1995 ... 2020yCat.1350....0G                1
     UCAC3 247-143401 18 53 33.8083 ... 2020yCat.1350....0G                1
      UCAC2  43471160 18 53 34.2870 ... 2020yCat.1350....0G                1
       GB6 J1853+3301      18 53 41 ... 2013ApJS..208...20B                1
1RXS J185326.3+330027  18 53 26.302 ... 2000IAUC.7432R...1V                1
         LEDA 2813726    18 53 46.0 ... 2003A&A...412...45P                1
              IC 1296 18 53 18.8159 ... 2020yCat.1350....0G                1