 <picture>
 <source media="(prefers-color-scheme: dark)" srcset="_images/astroquery_project_logo_dark.svg">
 <source media="(prefers-color-scheme: light)" srcset="_images/astroquery_project_logo.svg">
 <img  class= "dark-light" src="images/wasi-splash.svg" alt="WASI" style="float:right;height:60px;padding-right:20px;">
</picture>


# Astroquery Examples

Astroquery ( [https://astroquery.readthedocs.io](https://astroquery.readthedocs.io) )
is a set of tools for querying astronomical web forms and databases.

It is a coordinated package
of Astropy project ( [http://www.astropy.org](http://www.astropy.org/) ).

General imports:

In [1]:
from astropy import coordinates
import astropy.units as u

from astroquery.simbad import Simbad
from astroquery.vizier import Vizier

SIMBAD allows for simple queries based on coordinates or object names.

In [2]:
result_table = Simbad.query_object("M57")
result_table['MAIN_ID', 'RA', 'DEC'].show_in_notebook()

Wildcards and ranges can be used for identifiers

In [3]:
result_table = Simbad.query_object("m [1-9]", wildcard=True)
result_table['MAIN_ID', 'RA', 'DEC'].show_in_notebook()

In [4]:
coord = coordinates.SkyCoord("18h53m35s +33d01m45s", frame='icrs')
radius = 5 * u.arcminute

result_table = Simbad.query_region(coord, radius=radius)
result_table['MAIN_ID', 'RA', 'DEC'].show_in_notebook()